* {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}

header {
    height:100px;
    background-color:black;
    color:white;
    width:100%;
    border-bottom: 2px solid #cccccc
}

h1 {
    padding-left:calc(10% + 100px);
    display:inline;
    color:#ea5a5a;
    font-size:72px;
    padding-right:20px;
}

h2 {
    text-align: center;
}

nav {
    display:inline-block;
    justify-content:right;
}
nav ul li {
    display:inline;
    padding:0 10px;
}

#search {
    margin:30px auto;
    width:80%;
    background-color: black;
    color:white;
    border:1px solid #cccccc;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

#topic-search {
    font-size:large;

}

#topic-submit {
    font-size:large;
    padding: 0 10px;
    border: 1px solid #999999;
    border-radius: 2px;
    color:white;
    background-color: black;
}

#topic-submit:hover {
    color:black;
    background-color: #cccccc;
}

main {
    border:1px solid #cccccc;
    margin:30px auto;
    width:80%;
    background-color: black;
    color:white;
}

footer {
    padding-top:2px;
    height:50px;
    position:fixed;
    bottom:0px;
    width: 100%;
    background-color: black;
    color:gray;
    border-top: 2px solid #cccccc
}

@media screen and (max-width: 800px) {
    nav {
        display: block;
        margin: 0 auto;
    }
}