* {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
}

header {
    height:100px;
    background-color:black;
    color:white;
    width:100%;
    border-bottom: 2px solid #cccccc;
    box-shadow: 0px -20px 15px -10px #860000 inset;
}

h1 {
    padding-left:calc(10% + 100px);
    display:inline;
    color:#ea5a5a;
    font-size:72px;
    padding-right:20px;
}

h2 {
    text-align: center;
}

nav {
    position: absolute;
    top: 36px;
    right: 10%;
}
nav ul li {
    display:inline;
    padding:0 10px;
}

a:hover {
    color:red;
}

#search {
    margin:30px auto;
    width:80%;
    background-color: black;
    color:white;
    border:1px solid #cccccc;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

#topic-search {
    font-size:large;

}

#topic-submit {
    font-size:large;
    padding: 0 10px;
    border: 1px solid #999999;
    border-radius: 2px;
    color:white;
    background-color: black;
}

#topic-submit:hover {
    color:black;
    background-color: #cccccc;
}

main {
    border:1px solid #cccccc;
    margin:30px auto;
    width:80%;
    background-color: black;
    color:white;
}

.article-box {
    height: 180px;
    border: 2px solid #999999;
    width: calc(95% - 20px);
    background-color: #333333;
    margin:10px auto;
    padding:10px;
}
.article-content {
    display:inline-block;
    vertical-align: top;
    width:calc(100% - 170px);
}

.article-title {
    margin-top:15px;
    font-size:36px;
}

.article-source {
    font-size: 30px;
    color: #999999;
    line-height: 1;
}

.article-text {
    margin-top:20px;
    text-indent: 30px;
}

.article-image {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-top: 15px;
    object-fit:cover;
}

.saved {
    text-decoration: underline;
}

.saved::after {
    content: " ✓";
}

footer {
    padding-top:2px;
    height:50px;
    position:fixed;
    bottom:0px;
    width: 100%;
    background-color: black;
    color:gray;
    border-top: 2px solid #cccccc
}

@media screen and (max-width: 800px) {
    nav {
        display: block;
        margin: 0 auto;
    }
}